.invite-users-modal-container {
  max-width: 992px !important;
  -webkit-box-shadow: 0px 0px 16px #3b48593d;
  box-shadow: 0px 0px 16px #3b48593d;
  border-radius: 10px;
  background: white;
}

.invite-users-modal-container .modal-content {
  padding: 30px;
}

.invite-users-modal-container .modal-content .modal-header {
  background: white;
  box-shadow: none;
  border-bottom: 1px dashed #a2c0d4;
  margin-bottom: 20px;
  padding: 0 10px 10px;
}

.invite-users-modal-container .modal-content .modal-header .modal-title {
  color: #3b4859;
  float: left;
  margin: 0px;
  font-size: 16px;
  font-weight: 500;
  padding: 0;
  line-height: 28px;
}

.invite-users-modal-container .modal-content .modal-header button {
  float: right;
  font-size: 28px;
  top: 0;
  position: relative;
  color: #ffffff;
  opacity: 1;
  width: 28px;
  height: 28px;
  background-color: red;
  border-radius: 50%;
  border: none;
  line-height: 28px;
  text-align: center;
}

.invite-users-modal-container .modal-content .modal-body {
  padding: 0px 10px;
  color: #3b4859;
}

.invite-users-modal-container .modal-content .modal-body p {
  font-style: italic;
}

.invite-users-modal-container .modal-content .modal-body .form-group {
  padding-bottom: 20px;
}

.invite-users-modal-container .modal-content .modal-body .form-group label {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #3b4859;
  padding-right: 0;
  padding-bottom: 3px;
  display: block;
}

.invite-users-modal-container .modal-content .modal-body .form-group .form-control {
  background-color: #ffffff !important;
  border: 1px solid #8392a7 !important;
  height: 36px;
  font-size: 14px;
  line-height: 36px;
  padding: 0 15px;
  display: block;
  width: 100%;
}

.invite-users-modal-container .modal-content .modal-body .form-group .error{
  color: red;
  font-size: 13px;
}

.invite-users-modal-container .modal-content .modal-body .form-group .input-group-text {
  background-color: #ffffff;
  border: 1px solid #8392a7;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  line-height: 34px;
  color: #3b4859;
  padding: 0 10px;
  width: 100%;
  text-align: left;
}

.invite-users-modal-container .modal-content .modal-body .form-group .checkbox {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  cursor: pointer;
  margin-top: -4px;
}

.invite-users-modal-container .modal-content .modal-body .form-group textarea.form-control {
  height: 120px;
}

.invite-users-modal-container .modal-content .modal-body .form-group .select-rule {
  margin-top: 10px;
  margin-left: 30px;
}

.invite-users-modal-container .modal-content .modal-body .form-group .d-inline-block {
  display: inline-block;
}

.invite-users-modal-container .modal-content .modal-body .form-group .width-auto {
  width: auto;
}

.invite-users-modal-container .modal-content .modal-body .form-group .text {
  padding: 0 3px;
  line-height: 12px;
  vertical-align: top;
}

.invite-users-modal-container .modal-content .modal-footer {
  padding: 20px 15px 0px;
  background: none;
  border: none;
  border-top: 1px dashed #a2c0d4;
}

.invite-users-modal-container .modal-content .modal-footer .team-blue-button {
  padding: 12px 60px !important;
  font-size: 14px;
}