.add-data-source-container {
    display: block;
    width: 100%;

    .add-data-source-page-container {
        padding: 10px;
        background: #f9fafc;

        .data-source-section {
            background: #fff;
            padding: 10px 15px;
            border-radius: 10px;

            .source-head {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 25px 10px;
                border-bottom: 2px solid #f7f8f7;
                margin: 0 -15px;

                h3 {
                    color: #3b4859;
                    font-weight: 500;
                    margin: 0;
                }

                .search-control {
                    position: relative;

                    .input-group-text {
                        max-width: 100%;
                        text-align: left;
                        padding-right: 15px;
                        padding-left: 30px;
                        width: 100%;
                        border: 1px solid #ced4da;
                        background-color: #ffffff;
                        border-radius: 4px;
                        color: #8998ac;
                    }

                    .btn-search {
                        position: absolute;
                        left: 0;
                        top: 0;
                        z-index: 1;
                        cursor: pointer;
                        border: none;
                        background-color: transparent;
                        width: 32px;
                        height: 32px;
                        color: #8998AC;
                    }
                }

                .back-btn {
                    margin-left: 15px;

                    .btn-link {
                        color: #3b4859;

                        i {
                            margin-right: 8px;
                            font-size: 18px;
                            color: #57a4ff;
                        }
                    }
                }
            }

            .source-content {
                .heading {
                    padding: 15px 15px 20px 15px;

                    h4 {
                        color: #3b4859;
                        font-weight: 500;
                        margin: 0;
                    }
                }

                .account-details-heading {
                    background: #d9e4f2;
                    height: 40px;
                    padding: 10px 15px;
                    border-radius: 10px 10px 0 0px;

                    h5 {
                        color: #3b4859;
                        font-weight: 500;
                        margin: 0;
                    }
                }

                .environgment-details {
                    margin-top: 25px;
                    padding-bottom: 15px;
                    border-bottom: 1px solid #d1cdcd;

                    h5 {
                        color: #3b4859;
                        font-weight: 500;
                        margin: 0 0 25px 0;
                    }

                    .description-content {
                        width: 60%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        label {
                            font-size: 16px;
                            line-height: 20px;
                            font-weight: 500;
                            color: #3b4859;
                            margin: 0;
                        }

                        .input-group-text {
                            width: 300px;
                            height: 38px;
                            margin-bottom: 0;
                            font-size: 1rem;
                            font-weight: 400;
                            line-height: 1.5;
                            color: #495057;
                            text-align: left;
                            white-space: nowrap;
                            background-color: transparent;
                            border: 1px solid #ced4da;
                            border-radius: 0.25rem;
                        }
                    }
                }

                .services-heading {
                    background: #f8f9fb;
                    height: 40px;
                    padding: 10px 15px;
                    border-radius: 10px 10px 0 0px;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    margin-top: 25px;

                    span {
                        display: inline-block;
                        margin-right: 15px;
                        width: 40px;
                        height: 40px;
                        padding: 0 3px;
                        line-height: 40px;
                        text-align: center;
                        vertical-align: top;

                        img {
                            max-width: 100%;
                            height: auto;
                        }
                    }

                    h5 {
                        color: #3b4859;
                        font-weight: 500;
                        margin: 0;
                    }
                }

                .source-boxs {
                    padding: 25px;

                    .source-box {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                        padding: 15px 10px;

                        .source-content {
                            margin-left: 10px;
                            width: 100%;
                            max-width: 100%;

                            label {
                                margin-bottom: 5px;
                                display: block;
                                font-size: 14px;
                                line-height: 20px;
                                font-weight: 500;
                                color: #3b4859;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }

                            span {
                                display: block;
                                font-size: 12px;
                                line-height: 18px;
                                font-weight: 400;
                                color: #7d7d7d;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }

                            p {
                                margin: 8px 0 0 0;
                                display: block;
                                font-size: 12px;
                                line-height: 18px;
                                font-weight: 400;
                                color: #878787;
                            }
                        }
                    }
                }

                .source-details {
                    margin-top: 30px;

                    .source-box {
                        padding: 15px 10px;
                        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;

                        .source-detail-content {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding-bottom: 25px;
                            margin-bottom: 25px;
                            border-bottom: 1px solid #d1cdcd;

                            .source-content {
                                margin-left: 10px;
                                width: 100%;
                                max-width: 100%;

                                label {
                                    margin-bottom: 5px;
                                    display: block;
                                    font-size: 14px;
                                    line-height: 20px;
                                    font-weight: 500;
                                    color: #3b4859;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }

                                span {
                                    display: block;
                                    font-size: 12px;
                                    line-height: 18px;
                                    font-weight: 400;
                                    color: #7d7d7d;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }

                                p {
                                    margin: 8px 0 0 0;
                                    display: block;
                                    font-size: 12px;
                                    line-height: 18px;
                                    font-weight: 400;
                                    color: #878787;
                                }
                            }
                        }

                        .source-massage-content {

                            span {
                                display: block;
                                font-size: 14px;
                                line-height: 20px;
                                font-weight: 400;
                                color: #3b4859;
                            }

                            .asset-blue-button {
                                margin-top: 25px;
                            }
                        }
                    }
                }
            }

        }
    }
}

.assetmanager-modal-container {
    border: 1px solid #3b4859;
    border-radius: 5px;

    .modal-content {
        .modal-header {
            margin-left: -30px;
            margin-right: -30px;
            padding-left: 30px;
            padding-right: 30px;
            border-bottom: 1px solid #3b4859;

            button {
                float: right;
                font-size: 28px;
                font-weight: 600;
                top: 0;
                position: relative;
                color: #3b4859;
                opacity: 1;
                width: 28px;
                height: 28px;
                background-color: transparent;
                border-radius: 50%;
                border: none;
                line-height: 28px;
                text-align: center;
            }
        }

        .modal-body {
            .syneckit-content {
                .heading {
                    p {
                        font-size: 16px;
                        line-height: 20px;
                        font-weight: 500;
                        color: #3b4859;
                        font-style: normal;

                        span {
                            color: #0f5efd;
                        }
                    }
                }

                .credentials-text {
                    padding-left: 20px;
                    padding-right: 20px;

                    input {
                        margin-right: 10px;
                    }

                    .span {
                        font-size: 14px;
                        line-height: 20px;
                        font-weight: 500;
                        color: #3b4859;
                        font-style: normal;
                    }
                }
            }

            .modal-submit-button {
                display: flex;
                align-items: end;
                justify-content: end;
            }
        }
    }
}