.fliters-container {
    position: relative;

    .select-fliters {
        background: #FFFFFF;
        border: 1px solid #8392A7;
        border-radius: 4px;
        width: 100%;
        display: block;
        min-height: 42px;
        padding: 5px 15px 0;
        position: relative;

        .fliter-toggel {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }

        p {
            display: inline-block;
            font-size: 14px;
            line-height: 30px;
            font-weight: 400;
            color: #8998AC;
            opacity: 0.72;
            margin-bottom: 0;
            margin-right: 10px;
            vertical-align: top;
        }

        .add-fliters {
            background-color: #F0F3F7;
            font-size: 12px;
            font-weight: 400;
            color: #414D55;
            line-height: 30px;
            cursor: pointer;
            padding: 0px;
            display: inline-block;
            min-width: 30px;
            margin-right: 5px;
            margin-bottom: 5px;
            vertical-align: top;
            cursor: pointer;
            position: relative;
            z-index: 1;
            text-align: center;

            i {
                float: none;
            }

            &:hover {
                color: #464c54;
            }
        }

        .fliter-selected {
            background-color: #F0F3F7;
            font-size: 12px;
            font-weight: 400;
            color: #414D55;
            line-height: 30px;
            padding: 0px;
            display: inline-block;
            min-width: 100px;
            margin-right: 5px;
            margin-bottom: 5px;
            vertical-align: top;
            cursor: pointer;
            position: relative;
            z-index: 1;

            span {
                display: block;
                padding: 0 30px 0 10px;
            }

            i {
                font-weight: 100;
                padding-left: 0;
                float: none;
                position: absolute;
                right: 10px;
                top: 0;
                z-index: 1;
            }
        }

        i {
            float: right;
            font-size: 14px;
            line-height: 30px;
            color: #8998AC;
            opacity: 0.72;
            cursor: pointer;
        }

    }

    .fliters-collapse {
        background: #FFFFFF;
        border: 1px solid #8392A7;
        border-radius: 4px;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        padding: 15px;
        overflow: hidden;
        overflow-x: auto;
        display: none;
        z-index: 10;

        &.active {
            display: flex;
        }

        .fliters {
            display: flex;
            vertical-align: top;
            padding-left: 7px;
            padding-right: 7px;
            width: 200px;
            flex: 0 0 200px;

            &:first-child {
                padding-left: 0px;
            }

            &:last-child {
                padding-right: 0px;
            }

            .fliter-box {
                border: 1px solid #8392A7;
                border-radius: 3px;

                .heading {
                    display: block;
                    text-align: center;
                    background-color: #eff2f7;
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    font-size: 13px;
                    line-height: 18px;
                    font-weight: 500;
                }

                .search-control {
                    position: relative;
                    margin-top: 5px;
                    margin-left: 10px;
                    margin-right: 10px;

                    .btn {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 15px;
                        height: 24px;
                        background-color: transparent;
                        z-index: 1;
                        color: #8392A7;
                        font-size: 11px;
                        padding: 0;
                        font-weight: 100;

                        &.btn-clear {
                            right: 0;
                            left: auto;
                            width: auto;
                        }
                    }

                    .input-group-text {
                        background-color: #FFFFFF;
                        border: none;
                        border-bottom: 1px solid #8392A7;
                        width: 100%;
                        padding: 0 20px 0 20px;
                        height: 24px;
                        text-align: left;
                        border-radius: 0;
                        font-size: 11px;

                        &:focus-visible {
                            outline: none;
                        }

                        &:focus {
                            outline: none;
                        }
                    }
                }

                .fliters-links {
                    margin-left: 10px;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    max-height: 105px;
                    overflow: hidden;
                    overflow-y: auto;

                    .form-check {
                        margin-bottom: 5px;
                        position: relative;

                        input {
                            display: inline-block;
                            vertical-align: top;
                            margin-top: 3px;
                            cursor: pointer;
                        }

                        label {
                            display: inline-block;
                            vertical-align: top;
                            padding-left: 5px;
                            font-size: 12px;
                            color: #414D55;
                            line-height: 20px;
                            margin-bottom: 0;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .fliters-collapse-bg {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
        display: none;

        &.active {
            display: block;
        }
    }

}