$sidemenu-background-color: #3d4045;
$sidemenu-link-text-color: #ffffff;
$sidemenu-link-background-hover-color: #202226;
$sidemenu-link-border-color: #b0bdd0;
$sidemenu-item-header-background-color: #4a4747;
$sidemenu-submenu-background-color: #3b4859;
$sidemenu-search-background-color: #202226;
$sidemenu-search-placeholder-color: #ffffff;
$sidemenu-search-icon-color: #ffffff;
$sidemenu-toggle-color: #ffffff;
$sidemenu-header-background-color: #202226;
$sidemenu-header-text-color: #ffffff;
$top-nav-background-color: #3d4045;
$top-nav-icons-color: #ffffff;
$top-nav-icons-hover-color: #fcfcfc;
$overview-breadcrumbs-background-color: #3b4859;
$overview-page-title-color: #ffffff;
$overview-breadcrumbs-link-color: #fcfcfc;
$overview-breadcrumbs-link-current-page-color: #fcfcfc;
$overview-container-background-color: #000000;
$overview-applications-container-background-color: #202226;
$overview-applications-header-background-color: #3b4859;
$overview-container-text-color: #ffffff;
$overview-container-description-color: #97a4b5;
$dashboard-aside-collapse-button-background-color: #000000;
$dashboard-nav-link-active-border-color: #ffffff;
$dashboard-nav-link-active-text-color: #ffffff;
$analytics-tabs-text-color: #3b4859;
$manage-dashboard-text-color: #ffffff;
