$sidemenu-background-color: #f5f8fc;
$sidemenu-link-text-color: #3b4859;
$sidemenu-link-background-hover-color: #dae4f3;
$sidemenu-link-border-color: #b0bdd0;
$sidemenu-item-header-background-color: #e6dede;
$sidemenu-submenu-background-color: #f5f8fc;
$sidemenu-search-background-color: #ffffff;
$sidemenu-search-placeholder-color: #8998ac;
$sidemenu-search-icon-color: #8392a7;
$sidemenu-toggle-color: #8998ac;
$sidemenu-header-background-color: #ffffff;
$sidemenu-header-text-color: #3b4859;
$top-nav-background-color: #ffffff;
$top-nav-icons-color: #8392a7;
$top-nav-icons-hover-color: #606977;
$overview-breadcrumbs-background-color: #eff2f7;
$overview-page-title-color: #3b4859;
$overview-breadcrumbs-link-color: #89898a;
$overview-breadcrumbs-link-current-page-color: #2a9ce7;
$overview-container-background-color: #ffffff;
$overview-applications-container-background-color: #f9fafc;
$overview-applications-header-background-color: #f0f3f7;
$overview-container-text-color: #3b4859;
$overview-container-description-color: #8998ac;
$dashboard-aside-collapse-button-background-color: #e9edf2;
$dashboard-nav-link-active-border-color: #3697ef;
$dashboard-nav-link-active-text-color: #3697ef;
$analytics-tabs-text-color: #3b4859;
$manage-dashboard-text-color: #3b4859;
