@import "custom.scss";
@import "pages/common.scss";
@import "components/modal.scss";
@import "components/collapse.scss";
@import "pages/environments.scss";
@import "pages/amazon.services.scss";
@import "pages/kubernetes.scss";
@import "pages/storagedetails.scss";
@import "pages/accountsetup.scss";
@import "pages/daepartment.wise.products.scss";
@import "pages/product.wise.services.sla.scss";
@import "pages/product.wise.cost.scss";
@import "pages/adddatasource.scss";
@import "pages/topologyview.scss";
@import "components/wizard.scss";