.project-over-view-right-content {
    .errorboundary-content {
        display: flex;
        min-height: 500px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .error-image {
            text-align: center;
            display: inline-block;
            width: 100%;
        }

        .relode-btn {
            text-align: right;
            justify-content: flex-end;
            display: flex;
            width: 100%;

            .use-case-btn {
                background: #3B7CFF;
                color: #F9FAFC;
                border: none;
                padding: 6px 15px;
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
                border-radius: 3px;
                box-shadow: 0px 2px 2px #8392a71a;

                .arrow-left {
                    margin-right: 5px;
                }

                .arrow-right {
                    margin-left: 5px;
                }
            }
        }
    }

}