.owrkflow-project-wise-container {
    display: block;
    width: 100%;

    .project-wise-page-container {
        background-color: #f9fafc;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 30px;
        padding-bottom: 15px;

        .project-wise-page-heading {
            padding-left: 16px;
            padding-right: 16px;

            .heading-content-left {
                display: flex;

                .heading-icon {
                    display: inline-block;
                }

                .heading-content {
                    margin-left: 20px;
                    display: inline-block;

                    h3 {
                        font-size: 18px;
                        line-height: 22px;
                        font-weight: 500;
                        color: #202020;
                        margin: 0;
                    }

                    span {
                        font-size: 14px;
                        line-height: 18px;
                        font-weight: 500;
                        color: #202020;
                    }

                    p {
                        font-size: 12px;
                        line-height: 16px;
                        font-weight: 400;
                        color: #202020;
                        margin: 10px 0 0 0;
                    }
                }
            }

            .heading-content-right {
                float: right;

                span {
                    display: inline-block;
                    width: 25px;
                    height: 25px;
                    line-height: 25px;
                    border-radius: 25px;
                    text-align: center;
                    font-size: 14px;
                    background-color: #8145cd;

                    i {
                        color: #fff;
                    }
                }
            }
        }

        .project-wise-status {
            margin-top: 50px;

            .status-fliter {
                padding-left: 16px;
                padding-right: 16px;

                .project-status-heading {
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 600;
                    color: #202020;
                }

                .filler-search {
                    width: 100%;

                    select {
                        -moz-appearance: none;
                        -webkit-appearance: none;
                        appearance: none;
                        width: 100%;
                        height: 45px;
                        border: none;
                        cursor: pointer;
                        color: #aaaaaa;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 45px;
                        border-radius: 8px;
                        padding: 0 20px 0 40px;

                        &:focus-visible {
                            outline: none;
                        }

                    }

                    &::after {
                        content: "\F107";
                        position: absolute;
                        top: 7px;
                        left: 30px;
                        font-weight: 900;
                        font-size: 20px;
                        color: #a274db;
                        font-family: 'FontAwesome';
                    }
                }

                .search-bar {
                    width: 100%;
                    position: relative;

                    .control-form {
                        width: 100%;
                        height: 45px;
                        font-size: 16px;
                        color: #aaaaaa;
                        line-height: 45px;
                        padding-left: 45px;
                        border-radius: 8px;
                        background-color: #ffffff;

                        &:focus-visible {
                            outline: none;
                        }
                    }

                    i {
                        top: 14px;
                        left: 20px;
                        font-size: 18px;
                        color: #a274db;
                        font-weight: 600;
                        position: absolute;
                        vertical-align: middle;
                    }
                }
            }





            .project-wise-table {
                padding-top: 30px;
                padding-left: 16px;
                padding-right: 16px;

                .table {
                    .thead {
                        width: 100%;
                        display: flex;
                        border-bottom: 1px solid #e6e6e6;

                        .th {
                            width: 100%;
                            padding: 10px;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 20px;
                            color: #414d55;
                            margin-bottom: 8px;
                            text-align: center;
                            border-right: 1px solid #e6e6e6;

                            &:last-child {
                                border-right: none;
                            }
                        }

                    }

                    .tbody {
                        .tr {
                            width: 100%;
                            display: flex;
                            margin-top: 8px;

                            .td {
                                width: 100%;
                                padding: 10px;
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 20px;
                                color: #2662f0;
                                margin-bottom: 8px;
                                text-align: center;
                                border-right: 1px solid #e6e6e6;

                                a {
                                    color: #2662f0;
                                    font-size: 12px;
                                    font-weight: 600;
                                }

                                &:last-child {
                                    border-right: none;
                                }

                                i {
                                    font-size: 18px;

                                    &.green {
                                        color: #57d25f;
                                    }

                                    &.orange {
                                        color: #eea515;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .project-wise-resources {
            padding-top: 30px;
            padding-left: 16px;
            padding-right: 16px;

            .project-resources-heading {
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
                color: #202020;
            }

            .project-resources-section {
                display: block;
                width: 100%;

                .project-resources-inner {
                    margin-top: 30px;
                    display: flex;
                    display: -webkit-box;
                    width: 100%;
                    overflow: hidden;
                    overflow-x: auto;

                    .project-resources-box {
                        display: flex;
                        width: 280px;
                        max-width: 280px;
                        margin-right: 30px;
                        border-radius: 8px;
                        flex-wrap: wrap;
                        padding: 20px;
                        margin-bottom: 15px;
                        background: #ffffff;
                        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

                        .user-content {
                            display: flex;
                            margin-bottom: 15px;
                            align-items: center;
                            justify-content: start;
                            width: 100%;

                            .user-text {
                                margin-left: 15px;

                                span {
                                    font-size: 18px;
                                    line-height: 20px;
                                    font-weight: 500;
                                    color: 202020;
                                }

                                p {
                                    font-size: 14px;
                                    line-height: 20px;
                                    font-weight: 400;
                                    color: #a5a5a5;
                                    margin: 8px 0 0 0;
                                }
                            }
                        }

                        .resources-progress-heading {
                            margin-bottom: 15px;
                            width: 100%;
                            display: block;

                            h4 {
                                font-size: 14px;
                                line-height: 20px;
                                font-weight: 500;
                                color: 202020;
                            }

                            span {
                                font-size: 14px;
                                line-height: 20px;
                                font-weight: 400;
                                color: #202020;
                                margin-top: 10px;
                            }
                        }

                        .project-progressbar {
                            display: block;
                            width: 100%;

                            .CircularProgressbar {
                                width: 130px;
                                height: 130px;
                            }

                            p {
                                margin: 15px 0 0 0;
                                font-size: 14px;
                                line-height: 20px;
                                font-weight: 500;
                                color: #202020;
                            }
                        }
                    }
                }
            }

        }
    }
}

@media only screen and (max-width: 1200px) {
    .owrkflow-project-wise-container {
        .project-wise-page-container {
            .project-wise-status {

                .project-wise-table {
                    display: block;
                    display: -webkit-box;
                    width: 100%;
                    overflow: hidden;
                    overflow-x: auto;
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .owrkflow-project-wise-container {
        .project-wise-page-container {
            .project-wise-status {
                .status-fliter {
                    .project-status-heading {
                        margin-bottom: 20px;
                    }

                    .search-bar {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}