.analytics-blue-button {
  background: #3b7cff;
  color: white;
  border: none;
  padding: 7px 20px;
  border-radius: 4px;
  margin-right: 10px;
  display: inline-block;
  min-width: 182px;
  text-align: center;

  &:hover {
    background: #0f5efd;
  }

  &.disabled {
    background: #6386ca;
  }
}

.analytics-gray-button {
  background: #dde4e9;
  color: #8392a7;
  border: none;
  padding: 7px 20px;
  border-radius: 4px;
  margin-right: 10px;
  display: inline-block;
  min-width: 182px;
  text-align: center;

  &:hover {
    background: #dbe0e4;
    color: #8392a7;
  }
}

.analytics-white-button {
  background: white;
  color: rgb(59, 72, 89);
  border: none;
  padding: 7px 20px;
  border-radius: 4px;
  margin-right: 10px;
  display: inline-block;
  min-width: 182px;
  text-align: center;

  i {
    color: rgb(87, 164, 255);
  }

  &:hover {
    background: rgb(230, 230, 230);
    color: rgb(59, 72, 89);
  }
}

.min-width-auto {
  min-width: auto !important;
}

.analytics-container {
  margin: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px #eff2f7;
  border-radius: 10px;
  padding-bottom: 30px;

  .analytics-heading-container {
    padding: 10px 20px 10px;
    margin-bottom: 0px;
    border-bottom: 1px solid #f5f6f5;

    span {
      display: inline-block;
      vertical-align: top;
      margin-right: 15px;
      width: 42px;
      height: 40px;
    }

    h4 {
      vertical-align: top;
      display: inline-block;
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
      color: #3b4859;
      margin-bottom: 0;

      p {
        margin-bottom: 0;
      }
    }
  }

  .analytics-tabs-container {
    padding: 15px 20px 0;

    .nav-tabs {
      border-bottom: none;
      margin-bottom: 2px;

      > li {
        position: relative;

        > a {
          background-color: #f8f9fb;
          border: 0.5px solid #8392a7;
          border-right: none;
          position: relative;
          margin: 0;
          left: 0;
          padding: 0px;
          padding-right: 10px;
          text-align: left;
          min-width: 120px;
          font-size: 14px;
          line-height: 36px;
          color: $analytics-tabs-text-color;
          display: flex;
          align-items: center;
          justify-content: space-between;

          i {
            line-height: 36px;
          }

          &.nav-link {
            span {
              width: 100%;
              padding: 0px 10px;
            }
            .tab-edit {
              margin-left: 10px;
              margin-top: 5px;
              margin-bottom: 5px;
              max-width: 120px;
              height: 26px;
              font-size: 12px;
            }

            &.active {
              color: #0099ff;
              background-color: #e9ecf0;
              box-shadow: 2px 2px 6px #00000029;

              &:hover {
                border: 0.5px solid #8392a7;
                border-right: none;
              }
            }
          }

          &:hover {
            color: #0099ff;
            background-color: #e9ecf0;
            box-shadow: 2px 2px 6px #00000029;
          }

          &.add-tab {
            width: auto;
            border-right: 0.5px solid #8392a7;
            padding: 0 15px;
            min-width: auto;

            i {
              float: none;
            }
          }
        }

        &:hover {
          ul {
            display: block;
          }
        }

        ul {
          padding: 10px;
          margin: 0;
          list-style: none;
          background-color: #f5f6f5;
          display: none;
          position: absolute;
          left: 0;
          top: 38px;
          width: 100%;
          z-index: 10;

          a {
            color: rgba(65, 77, 85, 0.7);
            font-size: 12px;
            line-height: 18px;
            font-weight: 400;
            margin-bottom: 4px;
            display: block;

            i {
              width: 10px;
              display: inline-block;
              margin-right: 5px;
              text-align: center;
              vertical-align: top;
              line-height: 18px;
            }

            &:hover {
              color: rgba(65, 77, 85, 1);
            }
          }
        }
      }
    }

    .analytics-tabs-section-container {
      display: flex;
      border: 1px solid #8392a7;
      padding: 5px;

      .tabs-left-section {
        border: 0.5px solid #8392a7;
        border-radius: 5px;
        width: 200px;
        display: block;

        h5 {
          color: #3b4859;
          font-size: 18px;
          font-weight: 600;
          padding: 0 15px;
          line-height: 40px;
          background-color: #f8f9fb;
          border-radius: 5px;
        }

        ul {
          display: block;
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            display: block;
            border-bottom: 2px solid #ffffff;
            position: relative;

            a {
              display: block;
              min-height: 40px;
              padding: 0;
              background-color: #f8f9fb;

              i {
                float: right;
                padding-right: 10px;
                padding-top: 5px;
                color: #8392a7;
              }

              span {
                padding: 5px 10px 5px 10px;
                color: #3b4859;
                font-size: 13px;
                line-height: 18px;
                font-weight: 400;
                display: inline-block;
                width: 85%;
              }

              span.active {
                color: #0099ff;
              }

              &:hover {
                background-color: #ffffff;

                i {
                  color: #0099ff;
                }

                span {
                  color: #0099ff;
                }
              }
            }

            &:hover {
              ul {
                display: block;
              }
            }

            ul {
              padding: 10px;
              margin: 0;
              list-style: none;
              background-color: #f5f6f5;
              position: absolute;
              right: -130px;
              top: 20px;
              width: 130px;
              z-index: 10;

              li {
                border-bottom: none;

                a {
                  color: rgba(65, 77, 85, 0.7);
                  font-size: 12px;
                  line-height: 18px;
                  font-weight: 400;
                  margin-bottom: 4px;
                  display: block;
                  background-color: transparent;
                  min-height: inherit;

                  i {
                    width: 10px;
                    margin-right: 5px;
                    text-align: center;
                    float: left;
                    padding: 0;
                    margin-top: 3px;
                  }

                  &:hover {
                    color: rgba(65, 77, 85, 1);
                    background-color: transparent;

                    i {
                      color: rgba(65, 77, 85, 1);
                    }
                  }
                }
              }
            }
          }
        }
      }

      .tabs-right-section {
        width: calc(100% - 200px);
        display: block;
        padding-left: 10px;
        padding-top: 5px;

        .manage-dashboard-search {
          padding-bottom: 10px;
          border-bottom: 1px solid #e9e9e9;

          .search-control-group {
            position: relative;
            display: block;
            width: 100%;

            > div {
              width: 100% !important;
            }
          }

          .tag-filter-container {
            > div {
              width: 100% !important;
              min-width: 100% !important;
            }
          }

          .sort-container {
            > div {
              width: 100% !important;
            }
          }

          .sort-checkbox {
            background-color: #f0f3f7;
            border-radius: 5px;
            // height: 36px;
            display: block;
            width: 100%;
            line-height: 36px;
            padding: 0 10px;
            overflow: hidden;

            input {
              display: inline-block;
              vertical-align: top;
              margin-top: 11px;
            }

            span {
              display: inline-block;
              vertical-align: top;
              padding-left: 8px;
            }
          }
        }

        .manage-dashboard-general {
          padding: 20px 15px 40px;

          .general-heading {
            display: block;
            padding-bottom: 5px;

            input {
              display: inline-block;
              vertical-align: top;
              margin-top: 5px;
            }

            span {
              display: inline-block;
              padding-left: 15px;
              vertical-align: top;
              cursor: pointer;
            }

            h4 {
              display: inline-block;
              font-size: 15px;
              font-weight: 500;
              line-height: 22px;
              color: #3b4859;
              margin-bottom: 0;
              padding-left: 15px;
              padding-top: 2px;
            }

            .fa {
              padding-top: 6px;
              cursor: pointer;
            }
          }

          .general-logs {
            padding-left: 30px;
            padding-top: 15px;
            padding-bottom: 10px;

            .data-table {
              font-size: 12px;
              font-weight: 400;
              line-height: 18px;
              font-weight: 500;
              color: #3b4859;
              background-color: #ffffff;
              width: 100%;

              tr {
                td {
                  padding: 8px 10px;

                  input {
                    margin-top: 0px;
                    margin-right: 15px;
                  }
                }

                &:nth-child(odd) {
                  background-color: #f8f9fb;
                }
              }
            }

            .tag {
              color: #ffffff;
              padding: 2px 10px;
              display: inline-block;
              border-radius: 5px;
              margin: 0 2px;
            }

            .aws-bg {
              background-color: #3d71aa;
            }

            .amazon-bg {
              background-color: #8a2eb8;
            }

            .cloudwatch-bg {
              background-color: #bf1b00;
            }

            .logs-bg {
              background-color: #4c7a3f;
            }

            .monitorigartist-bg {
              background-color: #3b4859;
            }
          }
        }

        .analytics-aws-heading {
          padding-bottom: 10px;
          margin-bottom: 20px;
          border-bottom: 1px solid #e9e9e9;

          p {
            font-size: 15px;
            line-height: 20px;
            color: #414d55;
            font-weight: 500;
            display: block;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .analytics-table-container {
    .new-view-btn {
      display: block;
      text-align: right;
      padding: 10px 20px;
      margin-bottom: 10px;
      border-top: 1px solid #f5f6f5;
      border-bottom: 1px solid #f5f6f5;
    }

    .analytics-tabels {
      padding: 10px 20px;

      .analytics-tabel {
        overflow-x: scroll;
        background-color: #ffffff;
        margin-top: 20px;

        thead {
          tr {
            th {
              color: #3b4859;
              font-size: 13px;
              line-height: 18px;
              font-weight: 500;
              padding: 8px 15px 8px 15px;
              text-align: left;
            }
          }
        }

        tbody {
          tr {
            &:nth-child(odd) {
              background-color: #f8f9fb;
            }

            td {
              color: #323c47;
              font-size: 13px;
              line-height: 22px;
              font-weight: 400;
              padding: 8px 15px 8px 15px;
              text-align: left;

              .btn-link {
                color: #3b7cff !important;
                padding: 0 5px;
                font-size: 18px;
                line-height: 22px;
                vertical-align: middle;
              }
            }
          }
        }
      }
    }
  }

  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
}

.analytics-manage-dashboard-container {
  margin: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px #eff2f7;
  border-radius: 10px;
  padding: 10px 20px;
}

.modal-backdrop {
  background-color: rgba(20, 20, 20, 0.7);
  opacity: 0.8;
}

.modal {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  max-width: 992px;
  background: rgb(255, 255, 255);
}

.analytics-modal-container {
  max-width: 992px !important;
  box-shadow: 0px 0px 16px #3b48593d;
  border-radius: 10px;
  background: white;

  .modal-content {
    padding: 30px 30px !important;

    .modal-header {
      background: white;
      box-shadow: none;
      border-bottom: 1px dashed #a2c0d4;
      margin-bottom: 30px;
      padding: 0 10px 10px;

      .modal-title {
        color: #3b4859;
        float: left;
        margin: 0px;
        font-size: 16px;
        font-weight: 500;
        padding: 0;
        line-height: 28px;
      }

      button {
        float: right;
        font-size: 28px;
        top: 0;
        position: relative;
        color: #ffffff;
        opacity: 1;
        width: 28px;
        height: 28px;
        background-color: red;
        border-radius: 50%;
        border: none;
        line-height: 28px;
        text-align: center;
      }
    }

    .modal-body {
      padding: 0px !important;

      img {
        max-width: 100%;
        height: auto;
        vertical-align: top;
      }

      .form-group {
        padding-bottom: 20px;
        margin-bottom: 0 !important;

        label {
          display: block;
          font-size: 13px;
          font-weight: 500;
          line-height: 34px;
          color: #3b4859;
          width: 100%;
          margin-bottom: 0;
        }

        .input-group-text {
          background-color: #ffffff;
          border: 1px solid #8392a7;
          border-radius: 4px;
          display: block;
          font-size: 13px;
          font-weight: 500;
          line-height: 34px;
          color: #3b4859;
          padding: 0 10px;
          width: 100%;
          text-align: left;
          height: auto;

          &.file {
            line-height: inherit;
            height: 34px;
            padding-top: 5px;
          }
        }

        .form-control {
          background-color: #f0f3f7 !important;
          border: none !important;
          font-size: 13px;
          height: 36px;
          cursor: pointer;
          width: 250px;
          display: inline-block;
        }

        .select-checkbox {
          display: block;
          padding-top: 10px;
          padding-bottom: 0px;

          .checkbox {
            display: inline-block;
            margin-right: 10px;
            vertical-align: top;
          }

          span {
            display: inline-block;
            padding-right: 5px;
            width: 18px;
            height: 18px;
            vertical-align: middle;
          }

          p {
            display: inline-block;
            font-size: 13px;
            font-weight: 500;
            line-height: 16px;
            color: #3b4859;
            vertical-align: top;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.warning-heading {
  text-align: center;
  color: #3b4859;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;

  i {
    color: #ff4040;
    margin-right: 10px;
  }
}

.warning-content {
  text-align: center;
  margin-bottom: 30px;

  p {
    font-size: 15px;
    color: #414d55;
    margin-bottom: 10px;
  }

  a {
    font-size: 14px;
    color: #0099ff;
  }
}

.invalid-feedback {
  color: #ff4040ed;
}

.bs-popover-auto {
  z-index: 1000;
  border: none;
}

.popup-btn {
  .bs-popover-auto {
    width: 110px;
    border: none;
    z-index: 1000;

    .arrow {
      display: none !important;
    }

    .popover-body {
      width: 110px;
      padding: 8px 0;
      margin-right: 40px;
      border: none;
      background-color: #f5f6f5;
      box-shadow: 0px 3px 6px #00000029;

      ul {
        display: block;

        li {
          list-style: none;
          display: block;
          text-align: left;

          a {
            font-size: 12px;
            color: #414d55;
            opacity: 70%;
            padding: 0;
            margin-bottom: 0;
            line-height: 20px;
            background-color: transparent;
            display: inline-block;
          }

          i {
            color: #8392a7;
            width: 25px;
            text-align: center;
          }
        }
      }
    }
  }
}

.scroll-canvas--dashboard {
  overflow-x: scroll;
}

@media only screen and (min-width: 1201px) and(max-width: 1242px) {
  .sort-checkbox {
    padding: 0 6px !important;

    span {
      padding-left: 8px !important;
    }
  }
}

@media only screen and (min-width: 1024px) and(max-width: 1200px) {
  .search-control-group,
  .sort-select-menu {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 768px) and(max-width: 1023px) {
  .search-control-group,
  .sort-select-menu,
  .sort-checkbox {
    margin-bottom: 10px;
  }
}
