/* Is still used in some angular templates*/
.login-form {
  margin-bottom: $space-md;
  width: 100%;
}

.login-background {
  background-image: url('../img/monitor-icons/login-background.jpg');
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100%;
  margin-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container .login-dialog-container {
  background-color: transparent;
  box-shadow: 0px 0px 0px transparent;
  max-width: 400px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1;
  min-height: 320px;
  border-radius: 3px;
  padding: 20px 0;
  background-size: cover;

  .login-logo {
    display: block;
    text-align: center;
    width: 100%;
    padding-bottom: 30px;

    img {
      max-width: 200px;
      height: auto;
    }
  }

  .login-dialog-box {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 3px 40px #00000029;
    border-radius: 25px;
    padding: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    h1 {
      color: #003087;
      font-size: 32px;
      line-height: 36px;
      font-weight: bold;
      margin: 0 0 10px 0;
    }

    h3 {
      color: #003087;
      font-size: 18px;
      line-height: 22px;
      font-weight: bold;
      margin: 0 0 20px 0;
    }

    label {
      display: none;
    }

    div {
      display: block;
      width: 100%;
      max-width: 100%;
      padding: 0;
      height: auto;
      color: #8e8e8e;
    }

    input {
      background: #eff2f7;
      height: 40px;
      line-height: 40px;
      padding: 0 15px;
      border: none;
      font-size: 16px;
      margin-bottom: 0px;
      color: black;

      &:focus {
        outline: 0px dotted transparent;
        outline-offset: 0px;
        box-shadow: 0 0 0 0px transparent, 0 0 0px 0px transparent;
      }

      &::-webkit-input-placeholder {
        color: black;
      }

      &::-moz-placeholder {
        color: black;
      }

      &:-ms-input-placeholder {
        color: black;
      }

      &:-moz-placeholder {
        color: black;
      }
    }

    .error {
      font-size: 12px;
      color: red;
      margin-top: -10px;
      margin-bottom: 10px;
    }

    button {
      float: left;
      width: 120px;
      height: 40px;
      border-radius: 6px;
      background: #3b7cff !important;
      border: none;
      margin-left: 0px;
      font-weight: normal;
      line-height: 38px;
      padding: 0;
      text-align: center;

      &:hover {
        background: #003087 !important;
      }
    }

    a {
      margin-top: 12px;
      margin-right: 0px;
      color: #003087;
      font-size: 13px;
    }
  }
}
