.ops-central-container {
  width: 100%;
  padding: 15px;
  .ops-container {
    margin: 10px;
    .ops-box {
      padding: 15px 15px 8px 15px;
      margin-bottom: 20px;
      background-color: #fff;
      border-radius: 5px;
      border: 1px solid #f8f8f8;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.2) 3.4px 3.4px 4.2px;
      .ops-box-inner {
        display: flex;
        margin-bottom: 20px;
        .ops-image {
          width: 40px;
          height: 40px;
          .icon {
            display: block;
          }
          .color-icon {
            display: none;
          }
        }
        .ops-content {
          margin-left: 15px;
          width: 75%;
          .ops-tittle {
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            color: #0495f4;
            margin-bottom: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .ops-text {
            font-size: 12px;
            line-height: 20px;
            font-weight: 400;
            color: #676767;
          }
        }
      }
      .explore-content {
        text-align: right;
        vertical-align: middle;
        span {
          margin-right: 8px;
        }
        a {
          font-size: 14px;
          line-height: 20px;
          color: #676767;
          vertical-align: middle;
        }
        i {
          color: #676767;
          vertical-align: middle;
        }
      }
      &:hover {
        .ops-image {
          .icon {
            display: none;
          }
          .color-icon {
            display: block;
          }
        }
      }
    }
  }
  .ops-central-header {
    margin-bottom: 20px;
    margin: 10px;
    .heading {
      margin: 50px 0 30px 0;
      color: #394455;
    }
    .central-header-content {
      margin-bottom: 20px;
      display: flex;
      .recent-text {
        background-color: #f0f3f8;
        border-radius: 5px;
        width: 330px;
        height: 40px;
        margin-right: 20px;
        padding: 0 10px;
        i {
          margin-right: 5px;
          color: #8e9091;
        }
        p {
          color: #6f787f;
          font-size: 14px;
          line-height: 40px;
          font-weight: 500;
          display: inline-block;
        }
      }
      .search-bar {
        width: 100%;
        position: relative;
        .control-form {
          width: 100%;
          height: 40px;
          font-size: 16px;
          border-radius: 5px;
          line-height: 40px;
          padding-left: 35px;
          color: #000;
          border: 1px solid #f0f3f8;
          background-color: transparent;
        }
        i {
          vertical-align: middle;
          position: absolute;
          left: 10px;
          top: 14px;
          color: #b5bcc6;
        }
      }
    }
  }
}
