.team-blue-button {
  background: #3b7cff !important;
  color: #ffffff !important;
  border: none !important;
  padding: 7px 18px !important;
  border-radius: 2px !important;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block !important;
  min-width: 100px;
  text-align: center;

  &:hover,
  &:focus {
    background: #0f5efd !important;
    color: #ffffff !important;
  }
}

.team-gray-button {
  background: #dde4e9 !important;
  color: #8392a7 !important;
  border: none !important;
  padding: 7px 18px !important;
  border-radius: 2px !important;
  margin-right: 10px;
  display: inline-block !important;
  min-width: 100px;
  text-align: center;

  &:hover,
  &:focus {
    background: #dbe0e4 !important;
    color: #8392a7 !important;
  }
}

.team-white-button {
  background: white !important;
  min-width: 100px;
  color: #3b4859 !important;
  border: none !important;
  padding: 7px 18px !important;
  border-radius: 2px !important;
  margin-right: 10px;
  display: inline-block !important;
  text-align: center;

  &:hover,
  &:focus {
    background: #e6e6e6 !important;
    color: #3b4859 !important;
  }

  i {
    color: #57a4ff !important;
  }
}

.team-disable {
  background: #8392a7 !important;
  color: #000000 !important;
  border: none !important;
  padding: 7px 18px !important;
  border-radius: 2px !important;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block !important;
  min-width: 100px;
  text-align: center;

  &:hover,
  &:focus {
    background: #8392a7 !important;
    color: #000000 !important;
  }
}

.team-dashboard-page-container {
  background-color: $overview-container-background-color;

  .common-container {
    padding-top: 15px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f5f6f5;
  }

  a {
    &:focus,
    &:hover {
      color: #000000;
    }
  }

  .float-right {
    float: right;
  }

  .text-right {
    text-align: right;
  }

  .text-left {
    text-align: left;
  }

  .d-block {
    display: block;
  }

  .d-flex {
    display: flex;
  }

  .p-l-0 {
    padding-left: 0 !important;
  }

  .p-r-0 {
    padding-right: 0 !important;
  }

  .p-t-0 {
    padding-top: 0 !important;
  }

  .p-b-0 {
    padding-bottom: 0 !important;
  }

  .p-t-20 {
    padding-top: 20px !important;
  }

  .m-l-0 {
    margin-left: 0 !important;
  }

  .m-r-0 {
    margin-right: 0 !important;
  }

  .m-b-0 {
    margin-bottom: 0 !important;
  }

  .m-b-10 {
    margin-bottom: 10px !important;
  }

  .width-auto {
    width: auto;
  }

  .width-100 {
    width: 100%;
  }

  .min-width-inherit {
    min-width: inherit !important;
  }

  .border-bottom-0 {
    border-bottom: none !important;
  }

  .heading {
    h3 {
      line-height: 36px;
      color: $manage-dashboard-text-color;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 0;
    }

    span {
      line-height: 14px;
      color: $manage-dashboard-text-color;
      font-size: 12px;
      font-weight: 400;
    }
  }

  .team-dashboards-container {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f5f6f5;

    .team-dashboard-box {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;
      width: 100%;
      height: 100px;
      box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
      border-top: 10px solid;
      border-radius: 3px;
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: #ffffff;

      span {
        line-height: 18px;
        color: #3b4859;
        font-size: 14px;
        font-weight: 400;
        display: block;
        width: 100%;
      }

      strong {
        color: #3b4859;
        font-size: 32px;
        line-height: 36px;
        font-weight: 600;
        display: block;
        width: 100%;
      }
    }
  }

  .team-table-container {
    display: block;
    width: 100%;

    .heading {
      line-height: 38px;
      color: $manage-dashboard-text-color;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 0;
      border-bottom: 1px solid #f5f6f5;
      padding: 0 0 10px 0;

      .team-blue-button {
        font-size: 12px;
        line-height: 24px;
      }
    }

    .custom-table {
      padding: 10px 0;
      padding-top: 0;

      a {
        color: #3b7cff;
      }
    }
  }
}

@media (max-width: 992px) {
  .team-dashboard-page-container {
    .team-dashboards-container {
      margin-bottom: 0;

      .team-dashboard-box {
        margin-bottom: 30px;
      }
    }
  }
}

@media (max-width: 767px) {
  .task-dashboard-page-container {
    .float-right.new-task-button {
      float: left;
    }
  }
}
