$breadcrumbs-background-color: #3b4859;
$page-title-color: #ffffff;
$breadcrumbs-link-color: #fcfcfc;
$breadcrumbs-link-current-page-color: #fcfcfc;
$asset-container-background-color: #3b4859;
$asset-container-border-color: #202226;
$department-background-color: #000000;
$asset-contents-color: #ffffff;
$data-table-contents-color: #ffffff;