/************************* new look css *****************************/

body {
  font-family: 'Montserrat', sans-serif !important;
}

input,
button,
select,
textarea {
  font-family: 'Montserrat', sans-serif !important;
}

.sidemenu {
  background-color: $sidemenu-background-color !important;
  box-shadow: 0px 0px 0px 0px transparent;
  border-right: 1px solid #b0bdd0;
  position: fixed !important;
  top: 51px !important;
  height: calc(100% - 51px) !important;
  transition: width 0.3s !important;
  z-index: 1000;
  
  .menu-item-container {
    height: 100%;
  }
  .menu-item {
    .overview {
      background-image: url('../img/monitor-icons/sidemenu/overview.svg');
    }

    .logs {
      background-image: url('../img/monitor-icons/sidemenu/logs.svg');
    }

    .tickets {
      background-image: url('../img/monitor-icons/sidemenu/ticket.svg');
      height: 15px;
      margin-top: 2px;
    }

    .events {
      background-image: url('../img/monitor-icons/sidemenu/events.svg');
    }

    .automation {
      background-image: url('../img/monitor-icons/sidemenu/automation.svg');
    }

    .availability {
      background-image: url('../img/monitor-icons/sidemenu/availability.svg');
    }

    .assets {
      background-image: url('../img/monitor-icons/sidemenu/assets.svg');
    }

    .catalogue {
      background-image: url('../img/monitor-icons/sidemenu/catalogue.svg');
    }

    .metrics {
      background-image: url('../img/monitor-icons/sidemenu/metrics.svg');
    }

    .delivery {
      background-image: url('../img/monitor-icons/sidemenu/delivery.svg');
    }

    .generator {
      background-image: url('../img/monitor-icons/sidemenu/generator.svg');
    }

    .quality {
      background-image: url('../img/monitor-icons/sidemenu/quality.svg');
    }

    .test {
      background-image: url('../img/monitor-icons/sidemenu/test.svg');
    }

    .compliance {
      background-image: url('../img/monitor-icons/sidemenu/dashboard.svg');
    }

    .preference {
      background-image: url('../img/monitor-icons/sidemenu/preference.svg');
    }

    .resources {
      background-image: url('../img/monitor-icons/sidemenu/resources.svg');
    }
  }
}

.sidemenu {
  width: 81px;

  .main-menu {
    .main-menu-items {
      transition: height 0.3s, opacity 0.3s;

      &.main-menu-collapsed {
        height: 0px;
        visibility: hidden;
        display: none;
      }
    }

    li.item {
      border-bottom: 1px solid $sidemenu-link-border-color;

      &:hover {
        background-color: $sidemenu-link-background-hover-color;
      }

      // &:first-child {
      //   border-top: 1px solid $sidemenu-link-background-hover-color;
      // }

      a.menu-item {
        padding: 0px;
        border: 0px;
        text-align: center;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 8px 0px;
        text-decoration: none !important;

        &.active {
          position: relative;
          background-color: $sidemenu-link-background-hover-color;

          &::before {
            position: absolute;
            left: 0;
            top: 0;
            width: 3px;
            height: 100%;
            content: '';
            background-color: $sidemenu-header-text-color;
          }
        }

        .menu-item-image {
          width: 26px;
          height: 26px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }

        .menu-item-text {
          font-size: 10px;
          color: $sidemenu-link-text-color;
          margin-top: 5px;
          font-size: 600;
        }
      }
    }

    .menu-item-header {
      padding: 10px 0px;
      font-size: 10px;
      font-weight: 600;
      text-align: center;
      cursor: pointer;
      border-bottom: 1px solid $sidemenu-link-border-color;
      background: $sidemenu-link-background-hover-color;
      color: $sidemenu-link-text-color;

      i {
        font-size: 16px;
      }
    }
  }

  .sub-menu {
    .side-menu-toggle {
      height: 48px;
      width: 100%;
      text-align: center;
      line-height: 50px;
      cursor: pointer;
      padding-left: 15px;
      padding-right: 15px;
      text-align: right;
    }

    .open-menu,
    .close-menu {
      opacity: 0;
      position: absolute;
      left: -100%;
      visibility: hidden;
      top: 0px;
      background-color: $sidemenu-submenu-background-color;
      -webkit-box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.3);
      padding: 0;
      width: 0px;
      list-style: none;
      height: 100%;
      -webkit-transition: width 0.3s, opacity 0.3s;
      -o-transition: width 0.3s, opacity 0.3s;
      transition: width 0.3s, opacity 0.3s;

      ul {
        li {
          display: block;
          padding: 0;

          a.menu-item {
            display: block;
            color: $sidemenu-link-text-color;
            font-size: 13px;
            padding: 15px 0px 14px 18px;
            border-bottom: 1px solid $sidemenu-link-border-color;

            &:hover {
              background-color: $sidemenu-link-background-hover-color;
            }

            &.active {
              background-color: $sidemenu-link-background-hover-color;
            }

            .menu-item-text {
              color: $sidemenu-link-text-color;
              vertical-align: top;
            }
          }
        }
      }
    }

    .close-menu {
      .side-menu-toggle {
        text-align: center !important;
      }

      ul {
        transform: rotate(180deg);
        margin: 0;
        writing-mode: vertical-lr;
        display: flex;
        width: 100%;
        align-items: center;

        .menu-item-text {
          color: $sidemenu-link-text-color;
        }
      }
    }
  }
}

.menu_state_4 {
  .sub-menu {
    .open-menu {
      opacity: 1;
      width: 240px;
      left: 100%;
      visibility: visible;
    }
  }
}

.menu_state_8 {
  .sub-menu {
    .close-menu {
      opacity: 1;
      width: 60px;
      left: 100%;
      visibility: visible;
    }
  }
}
