/******************** Css for new look ******************/

.top-nav-bar {
  width: 100%;
  background: $top-nav-background-color;
  height: 51px;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 100;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

  .logo-container {
    width: 240px;

    .logo {
      background-image: url('../img/monitor-icons/top-menu-logo.png');
      width: 150px;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-left: 45px;
    }
  }

  .search-box-container {
    padding-top: 8px;
    height: 48px;
    width: calc(100% - 520px);

    .gf-form--has-input-icon {
      margin-right: 0px;
      width: 100%;
    }

    .search-box {
      background-color: #ffffff;
      margin-right: 20px;
      border-color: #6c737e;
    }

    .search-backdrop {
      position: fixed;
      right: 0;
      left: 0;
      bottom: 0;
      top: 51px;
      z-index: 1040;
      background-color: #000;
      opacity: 0.75;
    }

    .search-menu {
      height: 250px;
      width: 100%;
      background: white;
      z-index: 1111;
      position: relative;
      top: 3px;
      border-radius: 3px;

      ul {
        padding: 15px 0;

        li {
          display: block;
          padding: 10px 15px;
          font-size: 16px;
          line-height: 24px;
          font-weight: 500;

          &:hover {
            background-color: #fafafa;
          }

          i {
            vertical-align: top;
            line-height: 24px;
            color: #3b4859;
          }

          a {
            color: #3b4859;
            display: inline-block;
            padding-left: 15px;
            vertical-align: top;
          }
        }
      }
    }
  }

  .icon-container {
    display: flex;
    width: 240px;
    align-items: center;
    justify-content: space-around;
    margin: 0px 20px;

    .icon {
      font-size: 20px !important;
      color: $top-nav-icons-color;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
      line-height: 52px;
      display: inline-block;

      i {
        cursor: pointer;
      }

      &:hover {
        color: $top-nav-icons-hover-color;
        box-shadow: 0px 1px 3px #00000029;
        .profile-dropdown {
          display: block;
        }
      }

      .profile-dropdown {
        display: none;
        padding: 25px 10px 15px 25px;
        margin: 0;
        width: 280px;
        background-color: $top-nav-background-color;
        position: absolute;
        right: 0px;
        top: 51px;
        z-index: 1;
        border: 1px solid $top-nav-background-color;
        border-top: none;
        box-shadow: 0px 2px 3px #00000029;

        .profile-symbol {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-bottom: 15px;
          .symbol-img {
            width: 50px;
            height: 50px;
            display: inline-block;
            overflow: hidden;
            text-align: center;
            background-color: #fafafa;
            border-radius: 50%;
            margin-right: 15px;
            img {
              max-width: 50px;
              max-height: 50px;
              display: inline-block;
              vertical-align: top;
            }
          }
          .symbol-text {
            display: inline-block;
            strong {
              display: block;
              width: 100%;
              font-size: 15px;
              line-height: 18px;
              font-weight: 600;
              margin-bottom: 3px;
            }
            span {
              display: block;
              width: 100%;
              font-size: 13px;
              line-height: 18px;
              font-weight: 400;
            }
          }
        }

        .profile-text {
          width: 100%;
          display: block;
          font-size: 13px;
          line-height: 18px;
          padding: 0 0 10px 0;
          label {
            display: inline-block;
            vertical-align: top;
            width: 21%;
            font-weight: 600;
          }
          span {
            display: inline-block;
            width: 79%;
            font-weight: 400;
          }
        }

        ul {
          display: block;
          padding-top: 3px;
          li {
            display: block;
            font-size: 13px;
            line-height: 18px;
            font-weight: 400;
            padding: 0 0 10px 0;
            border-bottom: none;

            a {
              color: #2a9ce7;
            }
          }
        }
      }
    }
  }
}
